<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Viz 1 Tab -->
  <ion-tab title="Viz 1" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/viz1">
    <ion-nav-view name="tab-viz1"></ion-nav-view>
  </ion-tab>

  <!-- Viz 2 Tab -->
  <ion-tab title="Viz 2" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/viz2">
    <ion-nav-view name="tab-viz2"></ion-nav-view>
  </ion-tab>

  <!-- Viz 3 Tab -->
  <ion-tab title="Viz 3" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/viz3">
    <ion-nav-view name="tab-viz3"></ion-nav-view>
  </ion-tab>

</ion-tabs>
